---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
 </header>
 <div class="breadcrumb">
You're Here : <span itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><a href="https://sanatanadharma.arjunsinh.com" itemprop="url"><span title="Home" itemprop="title">Home</span></a></span>
<span itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">&#187; <a href="https://sanatanadharma.arjunsinh.com/gita/" itemprop="url"><span title="Gita" itemprop="title">Gita</span></a></span>
{% if page.language contains "sanskrit" %}
<span itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">&#187; <a href="https://sanatanadharma.arjunsinh.com/gita/sanskrit/" itemprop="url"><span title="Srimad Bhagavad Gita in Sanskrit" itemprop="title">Srimad Bhagavad Gita in Sanskrit</span></a></span>
{% endif %}
{% if page.language contains "english" %}
<span itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">&#187; <a href="https://sanatanadharma.arjunsinh.com/gita/english/" itemprop="url"><span title="Srimad Bhagavad Gita in English" itemprop="title">Srimad Bhagavad Gita in English</span></a></span>
{% endif %}
 {% if page.language contains "hindi" %}
 <span itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">&#187; <a href="https://sanatanadharma.arjunsinh.com/gita/hindi/" itemprop="url"><span title="Srimad Bhagavad Gita in Hindi" itemprop="title">Srimad Bhagavad Gita in Hindi</span></a></span>
 {% endif %}
{% if page.language contains "gujarati" %}
<span itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">&#187; <a href="https://sanatanadharma.arjunsinh.com/gita/gujarati/" itemprop="url"><span title="Srimad Bhagavad Gita in Gujarati" itemprop="title">Srimad Bhagavad Gita in Gujarati</span></a></span>
{% endif %}
</div>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>
<center>{% if page.prevpage %}<a class="nextprev" href="{{page.language}}/{{page.prevpage}}/">&laquo; Previous</a>{% endif %}
{% if page.nextpage %}<a class="nextprev" href="{{page.language}}/{{page.nextpage}}/">Next &raquo;</a>{% endif %}</center>
  
 <span style="float: right;">
 <a title="Edit this Page" href="https://github.com/Arjunsinh/gita/blob/master/_pages/{{page.language}}/{{page.number | append: '.md'}}" rel="nofollow" target="_blank"><svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/>
    <path d="M0 0h24v24H0z" fill="none"/>
</svg></a>

 <a title="Need help on how to edit?" href="/how-to-edit/" rel="nofollow" target="_blank"><svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 17h-2v-2h2v2zm2.07-7.75l-.9.92C13.45 12.9 13 13.5 13 15h-2v-.5c0-1.1.45-2.1 1.17-2.83l1.24-1.26c.37-.36.59-.86.59-1.41 0-1.1-.9-2-2-2s-2 .9-2 2H8c0-2.21 1.79-4 4-4s4 1.79 4 4c0 .88-.36 1.68-.93 2.25z"/>
</svg></a>
 </span>
</article>
